<link rel="import" href="../../../../components/card-component/card-component.html" />

<dom-module id="card-list">
  <template>
    <style>
      :host {
        display: block;
      }

      .container__card-list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 25px;
        justify-items: center;
      }

    </style>
    <div class="container__card-list">
      <template is="dom-repeat" items="[[dataset]]">
        <card-profile data="[[item]]"></card-profile>
      </template>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CardList extends Polymer.Element {
      static get is() {
        return 'card-list';
      }
      static get properties() {
        return {
          dataset: {
            type: Array
          },
        };
      }

      constructor() {
        super();
      }

      ready() {
        super.ready();
      }
    }

    window.customElements.define(CardList.is, CardList);

  </script>
</dom-module>
