<dom-module id="search-list">
  <template>
    <style>
      :host {
        display: block;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      }

      .container-search {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 20px 10px;
      }

      .container-search input[type=text] {
        width: 25%;
        height: 30px;
        padding: 6px;
        font-size: 17px;
        border: none;
      }

      .container-search button {
        height: 42px;
        padding: 6px 10px;
        background: white;
        font-size: 17px;
        border: none;
        cursor: pointer;
      }

    </style>
    <div class="container-search">
      <input type="text" placeholder="Search..." name="search" value="{{valueToSearch::input}}"
        on-keyup="_searchFilter">
      <button type="submit"><i class="fa fa-search">s-i</i></button>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SearchComponent extends Polymer.Element {
      static get is() {
        return 'search-list';
      }
      static get properties() {
        return {
          dataSearch: {
            type: Array,
            observer: '_dataSearch'
          },
          valueToSearch: {
            type: String,
          },
          filteredData: {
            type: Array,
            observer: '_searchEvent'
          }
        };
      }

      constructor() {
        super();
      }

      _dataSearch(data) {
        if (data.length > 0) {
          this.dataSearch = data;
        }
      }

      _searchFilter() {
        if (this.dataSearch.length > 0) {
          let searchResult = this.dataSearch.filter(search => search.name.toLowerCase().includes(this.valueToSearch
            .toLowerCase()) || search.nickname.toLowerCase().includes(this.valueToSearch
            .toLowerCase()) || search.playedBy.toLowerCase().includes(this.valueToSearch
            .toLowerCase()) || search.status.toLowerCase().includes(this.valueToSearch
            .toLowerCase()));

          this.filteredData = searchResult;
        } else {
          this.filteredData = this.dataSearch;
        }
      }

      _searchEvent() {
        this.dispatchEvent(new CustomEvent('data-search', {
          detail: {
            data: this.filteredData,
          },
          bubbles: true,
          composed: true
        }));
      }
    }

    window.customElements.define(SearchComponent.is, SearchComponent);

  </script>
</dom-module>
