<dom-module id="search-list">
  <template>
    <style>
      :host {
        display: block;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      }

      .container-search {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 20px 10px;
      }

      .container-search input[type=text] {
        width: 25%;
        height: 30px;
        padding: 6px;
        font-size: 17px;
        border: none;
      }

      .container-search button {
        height: 42px;
        padding: 6px 10px;
        background: white;
        font-size: 17px;
        border: none;
        cursor: pointer;
      }

    </style>
    <div class="container-search">
      <input type="text" placeholder="Search..." name="search" value="{{valueToSearch::input}}" on-keypress="_pepe">
      <button type="submit"><i class="fa fa-search">s-i</i></button>
      {{valueToSearch}}
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SearchComponent extends Polymer.Element {
      static get is() {
        return 'search-list';
      }
      static get properties() {
        return {
          dataSearch: {
            type: Array,
            observer: '_dataSearch'
          },
          valueToSearch: {
            type: String,
            observer: '_pepe'

          }
        };
      }

      constructor() {
        super();
      }

      _dataSearch(data) {
        if (data.length > 0) {
          console.log(data);
        }
      }

      _pepe(first, last) {
        console.log(last);
      }
    }

    window.customElements.define(SearchComponent.is, SearchComponent);

  </script>
</dom-module>
