<dom-module id="card-profile">
  <template>
    <style>
      :host {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      }

      .container__card {
        position: relative;
        width: 280px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: rotateY(0deg);
        transition: transform 0.5s;
      }

      .container__card[active] {
        transform: rotateY(180deg);
        transition: transform 0.5s;
      }

      .container__image-block {}

      .card___detail-icon {
        position: absolute;
        right: 0;
        color: yellow;
        padding: 15px;
      }

      .card___detail-icon:hover {
        cursor: pointer;
      }

      .image-block {
        z-index: 0;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-size: cover;
      }

      .image-block__name {
        background-color: black;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 15px 0px;
        font-size: .9em;
        text-align: center;
        color: white;
      }

      .name__text {
        font-weight: 700;
      }

      .nickname__text {}


      .container__detail-block {}

      .detail-block__icon {
        position: absolute;
        right: 0;
        color: red;
        padding: 10px;
        font-size: 30px;
      }

      .detail-block__icon:hover {
        cursor: pointer;
      }

      .detail-block {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        transform: rotateY(180deg);
      }

      .detail-block[active] {
        display: block;
      }

      .detail-info {
        padding: 15px;
      }

    </style>
    <div class="container__card" active$="{{_isActiverContainerCard(cardStatus)}}">
      <div class="container__image-block" on-data-card="_funcionPepe">
        <div class="card___detail-icon" on-click="_cardActionOpen" data-id$="[[data.id]]">open</div>
        <div class="image-block" style$="background-image: url('[[data.image]]');">
          <div class="image-block__name">
            <div class="name__text">
              [[data.name]]
              <div class="nickname__text">
                [[data.nickname]]
              </div>
            </div>
          </div>
        </div>
        <div class="container__detail-block">
          <div class="detail-block" active$="{{_isActiverContainerCard(cardStatus)}}">
            <div class="detail-block__icon" on-click="_cardActionClose" data-id$="[[data.id]]">
              x
            </div>
            <div class="detail-info">
              <p>Name: [[data.name]]</p>
              <p>Nickname: [[data.nickname]]</p>
              <p>Birthday: [[data.birthday]]</p>
              <p>Status: [[data.status]]</p>
              <p>Occupation: [[data.occupation]]</p>
              <p>Played By: [[data.playedBy]]</p>
              <p>Sessions: [[data.sessions]]</p>
            </div>
          </div>
        </div>
      </div>
  </template>

  <script>
    /**
     * @customconsent
     * @polymer
     */
    class CardProfile extends Polymer.Element {
      static get is() {
        return 'card-profile';
      }
      static get properties() {
        return {
          data: {
            id: {
              type: Number
            },
            name: {
              type: String
            },
            image: {
              type: String
            },
            nickname: {
              type: String
            },
            birthday: {
              type: String
            },
            status: {
              type: String
            },
            occupation: {
              type: String
            },
            playedBy: {
              type: String
            },
            sessions: {
              type: String
            },
          },
          cardInfo: {
            type: String,
            value: ''
          },
          cardProfile: {
            type: String,
            value: 'none'
          },
          cardStatus: {
            type: Boolean,
            value: false
          },
          cardActive: {
            type: String,
            notify: true,
            observer: '_checkActiveCard'
          }
        };
      }

      constructor() {
        super();
      }

      _cardActionOpen(event) {
        this.cardActive = event.target.dataset.id;
      }

      _cardActionClose(event) {
        this.cardStatus = !this.cardStatus;
        this.cardActive = '';
      }

      _isActiverContainerCard(cardStatus) {
        return cardStatus ? true : false;
      }

      _checkActiveCard(actual) {
        this.data.id === parseInt(actual) ? this.cardStatus = true : this.cardStatus = false;
      }

    }

    window.customElements.define(CardProfile.is, CardProfile);

  </script>
</dom-module>
