<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="bb-card">
  <template>
    <style>
      :host {
        display: block;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      }

      /* CARD CONTAINER */
      .container__card {
        position: relative;
        width: 280px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      /* IMAGE CARD*/
      .container__image-block {}

      .card___detail-icon {
        position: absolute;
        right: 0;
        color: yellow;
        padding: 15px;
      }

      .card___detail-icon:hover {
        cursor: pointer;
      }

      .image-block {
        z-index: 0;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-image: url('../../../assets/images/img-mock2.jpg');
        background-size: cover;
      }

      .image-block__name {
        background-color: black;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 15px 0px;
        font-size: .9em;
        text-align: center;
        color: white;
      }

      .name__text {
        font-weight: 700;
      }

      .nickname__text {}


      /* DETAIL CARD */
      .container__detail-block {
        display: block;
      }

      .detail-block__icon {
        position: absolute;
        right: 0;
        color: red;
        padding: 10px;
        font-size: 30px;
      }

      .detail-block__icon:hover {
        cursor: pointer;
      }



      .detail-block {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
      }

      .detail-info {
        padding: 15px;
      }

    </style>
    <div class="container__card">
      <div class="container__image-block">
        <div class="card___detail-icon">open</div>
        <div class="image-block">
          <div class="image-block__name">
            <div class="name__text">
              Walter White
            </div>
            <div class="nickname__text">
              Heisenberg
            </div>
          </div>
        </div>
      </div>
      <div class="container__detail-block">
        <div class="detail-block">
          <div class="detail-block__icon">
            x
          </div>
          <div class="detail-info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis dolorum earum laudantium. Debitis,
            animi reiciendis harum officiis ducimus placeat aperiam et sed. Tenetur ipsam debitis accusamus libero, nisi
            unde.
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CardComponent extends Polymer.Element {
      static get is() {
        return 'bb-card';
      }
      static get properties() {
        return {
          prop1: {
            type: String,
          }
        };
      }
    }

    window.customElements.define(CardComponent.is, CardComponent);

  </script>
</dom-module>
