<dom-module id="pagination-list">
  <template>
    <style>
      :host {
        display: block;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      }

      .container-pagination {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 20px 10px;
        flex-wrap: wrap;
      }

      a {
        font-size: 16px;
        color: white;
        padding: 12px 20px;
        border: 1px solid #093009;
        text-decoration: none;
        background-color: #032202;
        margin: 2px;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .container-pagination a[active] {
        color: white;
        background: #29773E;
      }

      .container-pagination a:hover {
        background: #1F6032;
      }

    </style>
    <div id="pagination" class="container-pagination">
      <a id="previous" on-click="_previousPage">&laquo;</a>
      <template id="list" is="dom-repeat" items="[[numberPages]]">
        <a id="[[item.id]]" active$="{{_isActive(item.active)}}" on-click="_changeActivePage">[[item.page]]</a>
      </template>
      <a id="next" on-click="_nextPage">&raquo;</a>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PaginationComponent extends Polymer.Element {
      static get is() {
        return 'pagination-list';
      }
      static get properties() {
        return {
          pageLimit: {
            type: Number,
            value: 10,
          },
          numberElements: {
            type: Number
          },
          activePageIndex: {
            type: Number,
            value: 0,
            observer: '_updateDataPages',
          },
          numberPages: {
            type: Array
          },
          dataPagination: {
            type: Array,
            observer: '_updateDataPages',
          },
          dataPage: {
            type: Array,
          }
        };
      }

      constructor() {
        super();
      }

      _generatePageIndexes() {
        let numberPages = this.numberElements / this.pageLimit;

        numberPages = (numberPages % 1 === 0) ? numberPages : Math.floor(numberPages) + 1;

        let result = Array.from({
          length: numberPages
        }, (element, index) => {
          return {
            "id": index,
            "page": index + 1,
            "active": this.activePageIndex === index
          }
        });

        this.set('numberPages', result);

        this._pageEvent();
      }

      _changeActivePage(event) {
        if (event.model.item.page - 1 !== this.activePageIndex) {
          this.set('activePageIndex', event.model.index);
          this._generatePageIndexes();
        }
      }

      _isActive(active) {
        return active ? true : false;
      }


      _previousPage(event) {
        if (this.activePageIndex >= 1) {
          this.activePageIndex = this.activePageIndex - 1;
          this._generatePageIndexes();
        }

      }

      _nextPage() {
        if (this.activePageIndex < this.numberPages.length - 1) {
          this.activePageIndex = ++this.activePageIndex;
          this._generatePageIndexes();
        }
      }

      _updateDataPages() {
        this.numberElements = this.dataPagination.length;
        this.dataPage = [];
        if (this.numberElements > 0) {
          const firstElement = this.pageLimit * this.activePageIndex;
          const lastElement = firstElement + (this.pageLimit - 1);
          for (let i = firstElement; i <= lastElement; i++) {
            if (i < this.numberElements) {
              this.dataPage.push(this.dataPagination[i]);
            } else {
              break;
            }
          }
          this._generatePageIndexes();
        }
      }

      _pageEvent() {
        this.dispatchEvent(new CustomEvent('data-page', {
          detail: {
            data: this.dataPage,
          },
          bubbles: true,
          composed: true
        }));
      }
    }

    window.customElements.define(PaginationComponent.is, PaginationComponent);

  </script>
</dom-module>
